@model IssatisLab.Yima.Mvc.Seed.Models.Cidadao

@{
    ViewBag.Title = "Novo";
}

<h2>Novo</h2>


@using (var f = Html.BootstrapBeginForm().Horizontal(BootstrapGridSize.Medium2, BootstrapGridSize.Medium10).Begin()) 
{
    @Html.AntiForgeryToken()
    
    <h4>Cidadão</h4>
    <hr />
        @f.FormGroup().TextBoxFor(model => model.nome)
        @f.FormGroup().TextBoxFor(model => model.email)
        @f.FormGroup().TextBoxFor(model => model.telefone)
        @f.FormGroup().Submit("Criar")
}

<div>
    @Html.ActionLink("Voltar", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
