@model IssatisLab.Yima.Mvc.Seed.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}

<h2>@ViewBag.Title.</h2>

@using (var f = Html.BootstrapBeginForm("ForgotPassword", "Account", FormMethod.Post).Horizontal(BootstrapGridSize.Medium2, BootstrapGridSize.Medium10).Begin())
{
    @Html.AntiForgeryToken()
    <h4>Enter your email.</h4>
    <hr />
    @Html.ValidationSummary()
    @f.FormGroup().TextBoxFor(m => m.Email)
    @f.FormGroup().Submit("Email Link")
}

@section Scripts
{
    <script src="/assets/js/lib/validation/jquery.validate.min.js"></script>
    <script src="/assets/js/lib/validation/jquery.validate.unobtrusive.min.js"></script>
    <script src="/assets/js/lib/validation/jquery.validate.defaults.js"></script>
}
