@model IssatisLab.Yima.Mvc.Seed.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
}

<h2>@ViewBag.Title.</h2>

@using (var f = Html.BootstrapBeginForm("ResetPassword", "Account", FormMethod.Post).Horizontal(BootstrapGridSize.Medium2, BootstrapGridSize.Medium10).Begin())
{
    @Html.AntiForgeryToken()
    <h4>Reset your password.</h4>
    <hr />
    @Html.ValidationSummary()
    @Html.HiddenFor(model => model.Code)
    @f.FormGroup().TextBoxFor(m => m.Email)
    @f.FormGroup().PasswordFor(m => m.Password)
    @f.FormGroup().PasswordFor(m => m.ConfirmPassword)
    @f.FormGroup().Submit("Reset")
}

@section Scripts
{
    <script src="/assets/js/lib/validation/jquery.validate.min.js"></script>
    <script src="/assets/js/lib/validation/jquery.validate.unobtrusive.min.js"></script>
    <script src="/assets/js/lib/validation/jquery.validate.defaults.js"></script>
}
