@model IssatisLab.Yima.Mvc.Seed.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<h2>@ViewBag.Title.</h2>

@using (var f = Html.BootstrapBeginForm("ChangePassword", "Manage", FormMethod.Post).Horizontal(BootstrapGridSize.Medium2, BootstrapGridSize.Medium10).Begin())
{
    @Html.AntiForgeryToken()
    <h4>Change Password Form</h4>
    <hr />
    @Html.ValidationSummary()
    @f.FormGroup().PasswordFor(m => m.OldPassword)
    @f.FormGroup().PasswordFor(m => m.NewPassword)
    @f.FormGroup().PasswordFor(m => m.ConfirmPassword)
    @f.FormGroup().Submit("Change password")
}

@section Scripts
{
    <script src="/assets/js/lib/validation/jquery.validate.min.js"></script>
    <script src="/assets/js/lib/validation/jquery.validate.unobtrusive.min.js"></script>
    <script src="/assets/js/lib/validation/jquery.validate.defaults.js"></script>
}